body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fce4ec;
  overflow: hidden;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.game-title {
  font-size: 3rem;
  color: #d81b60;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 5%;
}

.bottom-buttons {
  position: absolute;
  bottom: 5%;
  right: 2%;
  display: flex;
  gap: 15%;
}

.settings-button,
.help-button, .prompt-button {
  background-color: white;
  border: none;
  width: 3.5em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.settings-button:hover,
.help-button:hover, .prompt-button:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.icon {
  font-size: 1.2rem;
  color: #d81b60;
}

.modal {
  position: fixed;
  bottom: -120%;
  left:0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: bottom 0.4s ease;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
}

.modal.active {
  bottom: 0;
}

.content {
  background: #fce4ec;
  padding: 1.5em 2em;
  border-radius: 10px;
  text-align: center;
  max-width: 20em;
  position: relative;
}

.content h2 {
  font-size: 1.8rem;
}

.content p {
  font-size: 1rem;
  color: black;
}

.close-btn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.5rem;
  cursor: pointer;
  color: #d81b60;
  background: none;
  border: none;
}

.close-btn:hover {
  color: #ad1457;
}

.settings-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.sound-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.sound-icon {
  font-size: 2.5em;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sound-icon:hover {
  transform: scale(1.1);
}

#rankList {
  background-color: #f79ebd;
  color: black;
  padding: 1em 2em;
  width: 16em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#rankList:hover {
  transform: scale(1.1);
}

#leaderboard-table { 
  max-height: 15em;
  overflow-y: auto;
  display: block;
}

#leaderboard-table th,
#leaderboard-table td {
  width: 100%;
  border: 1px solid black;
  padding: 0.7em;
  text-align: left;
  font-size: 1.2rem;
  background-color: rgb(189, 245, 172);
  max-width: 15em;
  width: 15em;
  overflow: hidden;
  word-wrap: break-word;
}

#leaderboard-table td:first-child {
  max-width: 12em;
}

#leaderboard-table th {
  background-color: rgb(82, 190, 49);
}

.level{
  padding: 1.5em 2em;
  background-color: #d81b60;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.level:hover{
  transform: scale(1.1);
}
