body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-color: #fce4ec;
}

.user-info {
    display: flex;
    flex-direction: column;
    position:absolute;
    gap: 0.5rem;
    font-size: 1.5em;
    top: 5%;
    right: 5%;
    color: #d81b60;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.level-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.level-btn {
    background-color: #d81b60;
    color: white;
    font-size: 1.5rem;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.level-btn:hover {
    transform: scale(1.1);
    background-color: #ad1457;
}

.level-btn:disabled {
    background-color: #bdbdbd;
    cursor: not-allowed;
    box-shadow: none;
}
