.top-buttons {
    position: absolute;
    top: 3%;
    right: 2%;
    display: flex;
    gap: 5%;
}

.game-header {
    position: absolute;
    display: flex;
    gap: 2%;
    margin: 1%;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
}

#timer {
    top: 1%;
    left: 1%;
    color: red;
}

.content p {
    font-size: 1rem;
    color: black;
    line-height: 2.5em;
}

.left, .right {
    width: 45%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }

  .layer {
    margin-bottom: 1%;
    border-top: 0.3em solid rgb(77, 29, 10);
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
  }

  .left .layer{
    animation: moveX;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes moveX {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .pole {
    width: 0.4em;
    height: 80%;
    background-color: #7b1fa2;
    margin: 0 auto;
    position: relative;
  }
  
  .base {
    content: "";
    width: 15em;
    height: 0.5em;
    background-color: #4a148c;
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    transform: translateX(-50%);
  }

  .pole-container {
    position: relative;
    width: 15em;
    height: 65%;
    margin: 0 auto;
    overflow: visible;
  }

  .level-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80vh;
    margin-top: 2%;
    position: relative;
  }

  .check-btn {
    background-color: #d81b60;
    color: white;
    font-size: 1.5rem;
    padding: 0.5em 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
  }
  
  .check-btn:hover {
    transform: scale(1.1);
    background-color: #ad1457;
  }

  #result-modal.success .content{
    background-color: #4caf50;
    color: black;
  }
  
  #result-modal.fail .content{
    background-color: #f44336;
    color: black;
  }

  .modal-buttons button{
    margin: 1em;
    padding: 0.7em 1.2em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .modal-buttons button:hover{
    transform: scale(1.1);
  }
  
  