.user-info {
    display: flex;
    flex-direction: column;
    position:absolute;
    gap: 0.5rem;
    font-size: 1.5em;
    top: 5%;
    right: 5%;
    color: #d81b60;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.level-buttons {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.level-btn {
    background-color: #d81b60;
    color: white;
    font-size: 1.5rem;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.level-btn:hover {
    transform: scale(1.1);
    background-color: #ad1457;
}

.return-btn {
    padding: 1em 1em;
    background-color:#858484;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: black;
    width: 16em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.return-btn:hover {
    background-color: #f79ebd;
}

.confirm-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 5%;
}

.confirm-btn:hover {
    background-color: #c9302c;
}

.cancel-btn {
    background-color: #5bc0de;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.8em 0.8em;
}

.cancel-btn:hover {
    background-color: #31b0d5;
}

